body {
  font-family: Arial;
  background: #f4f6f8;
  padding: 40px;
}

input, button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 250px;
}

button {
  background: #003366;
  color: white;
  border: none;
}
